a {
    text-decoration: none;
}

.body{
    display:flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid rgb(170, 165, 165);
    margin: 100px 100px;
    padding: 50px;
    border-radius: 5px;
    height: 700px;
    max-height: fit-content;
}

.question-container, .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin-left: 10%;
}

.hs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.question-title{
    flex: 1 1 auto;
    text-align: left;
    /* border: solid red; */
    width: 40%;
    font-size: 2rem;
}

.correct-wrong {
    border-top: solid gray;
    color: gray;
    font-size: 2rem;
}

.choices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: center;
    /* border: solid yellow; */
    width: 100%;
    list-style: none;
}

.choice, 
.startBtn {
background-color: rgb(23, 23, 192);
border-radius: 8px;
color: aliceblue;
font-size: 1.5rem;
width: 40%;
padding: 10px;
}

.startBtn {
    text-align: center;
    width: 15%;
}

.submit-btn{
    background-color: rgb(23, 23, 192);
    border-radius: 8px;
    color: aliceblue;
}

.btn-hover:hover {
    background-color: rgb(193, 144, 239);
    cursor: pointer;
}

.hs-timer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap:10px;
    /* border: dotted red; */
    font-size: 1.1rem;
}

/* this class will hide any element with its class. We can use .classlist to add and remove this class to 
hide or reveal elements*/
.hide {
    display:none;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

.title {
    font:bolder;
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    align-content: center;
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
}

.spacer {
    margin-top: 50px;
}

#go-back-btn, 
#clear-hs-btn {
    background-color: rgb(23, 23, 192);
    color: aliceblue;
    border-radius: 8px;
}

@media (max-width: 740px)  {
    .hs-timer {
        flex-direction: column;
        align-items: center;
    }

}

