
.body{
    display:flexbox;
    flex-wrap: wrap;
    border: solid red;
    justify-content: center;
    margin: 100px 100px;
    padding: 50px;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid green;
}

.question {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.question-title{
    flex: 1 1 auto;
    text-align: left;
    border: solid red;
    width: 40%;
    font-size: 2rem;
}

.correct-wrong {
    border-top: solid gray;
    color: gray;
    font-size: 2rem;
}

.choices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: center;
    border: solid yellow;
    width: 100%;
    list-style: none;
}

.choice, .startBtn{
background-color: rgb(23, 23, 192);
border-radius: 8px;
color: aliceblue;
font-size: 1.5rem;
width: 50%;
padding: 10px;
}

.startBtn {
    text-align: center;
    width: 15%;
}

.choice:hover {
    background-color: rgb(193, 144, 239);
}

.hs-timer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap:10px;
    border: dotted red;
    font-size: 1.1rem;
}

/* this class will hide any element with its class. We can use .classlist to add and remove this class to 
hide or reveal elements*/
.hide {
    display:none;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    border: solid pink;

}

.coding-title {
    font:bolder;
    font-size: 2rem;
    text-align: center;
}

.coding-subtitle {
    text-align: center;
    font-size: 1.3rem;
}


@media (max-width: 740px)  {
    .hs-timer {
        flex-direction: column;
        align-items: center;
    }
    
}